@use '../../styles/variables' as global;

.home-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .quick-stats {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 1rem;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (max-width: 480px) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  .charts-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 1rem;

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .chart-card {
      background-color: global.$cards-bg-color;
      border-radius: global.$border-radius;
      box-shadow: 0px 1px 29px 0px rgba(88, 12, 245, 0.52);
      padding: 1rem;

      label {
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
  .chart-card {
    background-color: global.$cards-bg-color;
    border-radius: global.$border-radius;
    box-shadow: 0px 1px 29px 0px rgba(88, 12, 245, 0.52);
    padding: 1rem;

    label {
      font-size: 18px;
      font-weight: 700;
    }
  }
}
